@import '../../styles/global';

.navBar{
  background: $primary-red-color;

  &__brand {
    color: $white-color;
    font-weight: bold;
  }

  &__optionsMenu {
    display: flex;
    align-items: center;
  }

  &__optionMenu {
    color: $white-color;
    margin-right: 15px;
  }

  &__logo {
    height: 30px;
    width: 30px;
  }

  &__infoContainer {
    display: flex;
    align-items: center;
  }

  &__user {
    color: $white-color;
    cursor: pointer;
    margin-right: 8px;
  }
}

@include onTabletPortrait {
  .navBar {

    &__container {
      flex-direction: column;
    }

    &__optionsMenu {
      flex-direction: column;
    }

    &__infoContainer {
      flex-direction: column;
    }
  }
}
